{% extends "base.html" %}
{% block content %}
<h1>Add a New Blog Entry</h1>
<form method='POST'>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class='error'>{{message}}</div>
        {% endfor %}
        {% endwith %}

    <table>
        <tr>
            <td>
                <lable>Title for your new blog:</lable>
            </td>
        </tr>
        <tr>
            <td>
                <input type='text' name='title' />
            </td>
        </tr>
        <tr>
            <td>
                <lable>Your new blog post:</lable>
            </td>
        </tr>
            <td>
                <textarea type='text' name='body' ></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type='submit' value='Add New Entry' />
            </td>
        </tr>
    </table>
</form>
{% for post in posts %}
        <h1>{{post.title}}</h1>
{% endfor %}
{% endblock %}